<div id="<%= dom_id(article) %>" class="grid-x grid-padding-x">
  <% article.article_translations.each do |translation| %>
    <div class="cell small-12 medium-6">
      <div class="card">
        <div class="card-divider">
          <%= MARKDOWN.render(translation.question).html_safe %>
        </div>
        <div class="card-section">
          <p><%= MARKDOWN.render(translation.answer).html_safe %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
