<div class="grid-container">
  <div class="grid-x">
    <div class="cell small-12">
      <strong> Disclaimer: </strong>
      <p>
        The German part comes from automatic translation. If there is something wrong or stupid you can report it to
        <a href="https://azure.microsoft.com/en-us/services/cognitive-services/translator-text-api/">
          Azure Support
        </a>
      </p>
    </div>
  </div>
</div>
