@import 'settings';

.action {
  color: map-get($foundation-palette, "secondary");

  @media screen and (max-width: 39.9375em) {
    font-size: $global-font-size * 1.5;
  }

  &:hover {
    color: map-get($foundation-palette, "primary");
  }

  &--danger {
    color: map-get($foundation-palette, "alert");
  }
}
